.backgroundLeft {
    background-color: #F0F4F8;
    height: -webkit-fill-available;
}

.mineMsg {
    background-color: #C7EDFC;
}

.otherMsg {
    background-color: #ffffff;
}

hr {
    margin-top: 10px;
    border: 0.3px solid;
    color: #D8E5EF;
    margin-bottom: 2px;
}

.removing {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}

.buttons {
    margin-top: "10%"
}

.groupListStyles {
    margin-top: "20%"
}